.RadTreeView_mchpSkin,
.RadTreeView_mchpSkin a.rtIn,
.RadTreeView_mchpSkin .rtEdit .rtIn input
{
	color: #265477;
	font-weight:bold;
}

.RadTreeView_mchpSkin .rtPlus, 
.RadTreeView_mchpSkin .rtMinus
{
	background-image: url('TreeView/PlusMinus.png');
}



.RadTreeView_mchpSkin .rtChecked,
.RadTreeView_mchpSkin .rtUnchecked,
.RadTreeView_mchpSkin .rtIndeterminate
{
	background-image: url('TreeView/TriState.png');
}

.RadTreeView_mchpSkin .rtHover .rtIn
{
	color: #1b76ff;
	text-decoration:underline;
	/*border-color: #b5b5b5 #b5b5b5 #9e9e9e;
	background-color: #C5C5C5;
	background-image: url('TreeView/ItemHoveredBg.png');*/
}

.RadTreeView_mchpSkin .rtSelected .rtIn
{
	color: #1b76ff;
	/*border-color: #8d8d8d #7e7e7e #6c6c6c;
	background-color: #828282;
	background-image: url('TreeView/ItemSelectedBg.png');*/
}

.RadTreeView_mchpSkin .rtSelected .rtLoadingBefore,
.RadTreeView_mchpSkin .rtSelected .rtLoadingAfter,
.RadTreeView_mchpSkin .rtSelected .rtLoadingBelow
{
	color: #333;
}

.RadTreeView_mchpSkin .rtLoadingIcon
{
	background-image: url('TreeView/LoadingIcon.gif');
}

.RadTreeView_mchpSkin .rtLI .rtEdit .rtIn
{
	/*border-color: #6c6c6c;*/
	background: #fff;
}

.RadTreeView_mchpSkin_disabled .rtIn,
.RadTreeView_mchpSkin .rtDisabled .rtIn
{
	color: #ccc;
}


/* <node lines> */

.RadTreeView_mchpSkin .rtLines .rtLI,
.RadTreeView_mchpSkin .rtLines .rtFirst .rtUL { background-image: url('TreeView/NodeSpan.png'); }
.RadTreeView_mchpSkin_rtl .rtLines .rtLI,
.RadTreeView_mchpSkin_rtl .rtLines .rtFirst .rtUL { background-image:url('TreeView/NodeSpan_rtl.png'); }

.RadTreeView_mchpSkin .rtLines .rtFirst,
.RadTreeView_mchpSkin .rtLines .rtFirst .rtUL { background-image: url('TreeView/FirstNodeSpan.png'); }
.RadTreeView_mchpSkin_rtl .rtLines .rtFirst,
.RadTreeView_mchpSkin_rtl .rtLines .rtFirst .rtUL { background-image: url('TreeView/FirstNodeSpan_rtl.png'); }
.RadTreeView_mchpSkin .rtLines .rtLast,
.RadTreeView_mchpSkin .rtLines .rtLast .rtUL { background-image: none; }

.RadTreeView_mchpSkin .rtLines .rtTop { background-image:url('TreeView/TopLine.png'); }
.RadTreeView_mchpSkin_rtl .rtLines .rtTop { background-image:url('TreeView/TopLine_rtl.png'); }
.RadTreeView_mchpSkin .rtLines .rtMid { background-image:url('TreeView/MiddleLine.png'); }
.RadTreeView_mchpSkin_rtl .rtLines .rtMid { background-image:url('TreeView/MiddleLine_rtl.png'); }
.RadTreeView_mchpSkin .rtLines .rtBot { background-image:url('TreeView/BottomLine.png'); }
.RadTreeView_mchpSkin_rtl .rtLines .rtBot { background-image: url('TreeView/BottomLine_rtl.png'); }
.RadTreeView_mchpSkin .rtLines .rtLast .rtTop { background-image:url('TreeView/SingleLine.png'); }
.RadTreeView_mchpSkin_rtl .rtLines .rtLast .rtTop { background-image:url('TreeView/SingleLine_rtl.png'); }

/* </node lines> */
